*{
    box-sizing: border-box;
}

 body{
     background-image: url(Images/wallpaper.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     margin: 0;
 }

  header{
      position: sticky;
      top: 0px;
      width: 100%;
      margin: auto;
  }

  header nav{
      background-color: hsl(214, 55%, 10%);
      display: flex;
      flex-direction: row;
      width: 100%;
  }

  nav a.active{
      background-color: hsl(120, 100%, 70%);
      font-weight: bold;
  }

  nav a{
      font-size: 2rem;
      text-decoration: none;
      width: 20%;
      text-align: center;
      position: relative;
      overflow: hidden;
      color: blueviolet;
  }

  nav a:hover:not(.active){
      background-color: hsl(120, 100%, 80%);
  }


/*  
 #bodyBtn{
     width: 2em;
     height: 2em;
     padding: 5px;
     background-color: hsl(214, 100%, 74%);
     color: white;
     border-radius: 20px;
     display:block;
     margin-left: auto;
     mardin-bottom: 0vh;
 }
 #bodyBtn:hover{
     background-color: hsl(214, 100%, 54%);
     transition: background-color 0.35s;
 }
#countNum{
    font-size: 5em;
    font-family: helvetica;
    text-align: center;
    margin-bottom: 10px;
}
 #myButtons{
     text-align: center;
 }
 .buttons{
     padding: 5px 25px;
     background-color: hsl(214, 100%, 74%);
     color: white;
     border-radius: 5px;
 }
 .buttons:hover{
     background-color: hsl(214, 100%, 54%);
     transition: background-color 0.35s;
  } */

 /*body{
    text-align: center;
     padding:25px 50px;
}
 #myBtn{
     padding:5px 25px;
     font-size: 3em;
 }
 .myLabels{
     font-size: 3em;
 }*/

 /*body{
     background-color: white;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s;
 }
 button{
     background-color: hsl(0, 0%, 0%);
     color: white;
     height: 100px;
     width: 100px;
     border: none;
     border-radius: 75px;
 }
 button:hover{
     background-color: white;
     color: black;
     transition: 0.5s;
     cursor: pointer;
     
 }
 .black{
     background-color: hsl(0, 0%, 0%);
 }*/

  /*     SWITCH

  body{
      font-family: Arial, sans-serif;
      font-size: 2em;
      background-color: hsl(0, 0%, 95%);
  }

  #grades{
      max-width: 300px;
      background-color: hsl(0, 100%, 100%);
      text-align: center;
      border: 5px ridge  hsl(0, 0%, 60%);
      border-radius: 8px;
      box-shadow: 5px 5px 15px  hsl(0, 0%, 0%, 0.2);
      margin: auto;
      margin-top: 25vh;
  }

  #myText{
      font-family: Helvetica;
      font-size: 1.5em;
      max-width: 50%;
      text-align: center;
      border-radius: 5px;
  }

  #myBotn{
      background-color: tomato;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 15px;
  } 

  #myBotn:hover{
      background-color: lightblue;
      color:  hsl(0, 0%, 60%);
      border: ridge  hsl(0, 0%, 60%);
  }

  #myP{
      display: inline-block;
      margin-top: 15px;
  }
  */ 

  /*    TEMPERATURE CONVERTION PROGRAM  

  body{
      font-family: Arial, sans-serif;
      background-color: hsl(0, 0%, 95%);
      }

  form{
      background-color: hsl(0, 0%, 85%);
      max-width: 300px;
      text-align: center;
      border: 5px ridge hsl(0, 0%, 80%);
      border-radius: 10px;
      margin: auto;
      margin-top: 25vh;
      box-shadow: 5px 5px 15px hsl(0, 0%, 40%, 0.5);
  }

  h2{
      font-size: 1.5em;
      color: hsl(223, 100%, 45%);
      margin-bottom: 0px;
  }

  #myConvert{
      width: 50%;
      text-align: center;
      font-family: Helvetica;
      font-size: 1.5em;
      border-radius: 5px;
      margin-bottom: 15px;
  }

  label{
      font-size: 1.5em;
      font-weight: bold;
  }

  button{
      background-color: hsl(0, 100%, 80%);
      color: white;
      font-size: 1.2em;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      margin-top: 15px;
      cursor: pointer;
  }

  button:hover{
      background-color: hsl(0, 100%, 60%);
      font-size: 1.3em;
  }

  #mySubmit{
      font-size: 1.5em;
      font-weight: bold;
      
  }
  */

  /*   RANDOM NUMBER GENERATOR

  #rollDice{
      background-color: hsl(214, 50%, 76%);
      margin: auto;
      max-width: 250px;
      height: 250px;
      text-align: center;
      margin-top: 25vh;
      border: 5px dotted hsl(214, 60%, 66%);
      border-radius: 5px;
  }

  button{
      font-family: serif, sans-serif;
      margin-top: 10px;
      font-size: 1.5em;
      background-color: hsl(75, 100%, 76%);
      border-radius: 10px;
      padding: 10px 15px;
      cursor: pointer;
      color: hsl(0, 90%, 100%);
      border: 5px double;
      margin-bottom: 0px;
  }

  p{
      font-family: Helvetica;
      font-size: 1.5em;
      font-weight: bold;
  }

  #myP1{
      margin-top: 3px;
      margin-bottom: 0px;
  }

  #myP2{
      margin-bottom: 0px;
  }
  */

  /*    RANDOM NUMBER GUESSING GAME WITH HTML CSS & JS

  body{
      background-color: hsl(0, 0%, 90%);
  }

  h1{
      text-align: center;
  }

  form{
      max-width: 250px;
      text-align: center;
      background-color: hsl(0, 0%, 100%);
      box-shadow: 5px 5px 15px hsl(0, 0%, 80%);
      margin: auto;
      margin-top: 10rem;
      border-radius: 8px;
      height: 20rem;
  }

  label{
      font-family: serif, Arial;
      font-size: 1.5em;
      position: relative;
      top: 10px;
  }

  #myInput{
      font-family: Helvetica;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      width: 50%;
      border-radius: 5px;
      
  }

  button{
      font-family: serif, Arial;
      font-size: 1.5em;
      font-weight: bold;
      background-color: hsl(5, 90%, 70%);
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: white;
      cursor: pointer;
  }

  p{
      font-family: serif, Arial;
      font-size: 1.5em;
  }
  */
  

  #container{
      background-color: hsl(208, 90%, 90%, 0.75);
      max-width: 15rem;
      text-align: center;
      border-radius: 6px;
      margin: auto;
      margin-top: 25vh;
      height: 23rem;
  }

  h1{
      font-family: Arial, sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      position: relative;
      top: 10px;
  }

  label{
      font-size: 1.5rem;
  }

  #numInput{
      font-family: Helvetica;
      font-size: 1.5rem;
      width: 30%;
      font-weight: bold;
      border-radius: 6px;
      text-align: center;
      margin: 1%;
  }

  #diceBtn, #alertBtn, .stopWatchBtn{
      font-size: 1.5rem;
      margin: 5%;
      padding: 10px 15px;
      border-radius: 6px;
      border-top:2px solid tomato;
      border-bottom:2px solid tomato;
      border-right:2px solid blue;
      border-left:2px solid blue;
      background-color: hsl(0, 0%, 100%);
      cursor: pointer;
  }

  button:hover{
      background-color: gold;
  }

  button:active{
      background-color: hsl(0, 0%, 95%);
  }

  p{
      font-family: verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
  }

  #diceImages img{
      border: solid;
      border-radius: 6px;
      margin: 5px;
      color: gold;
  }  

  a::selection{
      color: rgb(89, 255, 71);
      background-color: hsl(0, 0%, 21%);
  }

  div::selection{
      color: rgb(89, 255, 71);
      background-color: hsl(0, 0%, 21%);
  }

  td::before{
      content: "⇛";
  }

  th::before{
      content: "🎉";
  }


  h1::selection{
      color: rgb(89, 255, 71);
      background-color: hsl(0, 0%, 21%);
  }

  summary::marker{
      content: "⮚";
      color: hsl(60, 100%, 50%);
      font-size: 1.5em;
      text-shadow: 5px 5px 9px gold;
  }

  summary::after{
      content: "⮛";
      color: hsl(60, 100%, 50%);
      text-shadow: 5px 5px 9px gold;
      font-size: 1.5em;
  }

  p::first-line{
      color: hsl(50, 100%, 50%);
  }

  p::first-letter{
      font-style: italic;
      font-size: 2em;
      font-family: serif;
      color: hsl(50, 0%, 50%);
  }

  p::selection{
      color: hsl(101, 100%, 50%);
      background-color: hsl(0, 0%, 25%);
  }

  /* RANDOM PASSWORD GENERATOR USING ALL START*/
/*  
 #passContainer{
     background-color: hsl(10, 100%, 90%);
     text-align: center;
     margin-top: 30px;
     max-width: 350px;
     height: 350px;
     margin: auto;
     margin-top: 30px;
     margin-bottom: 0px;
     border-radius: 10px;
 }

 #passLabel{
     margin-top: 20px;
 }

 #myInputPass{
     margin-top: 20px;
     font-size: 20px;
     text-align: center;
     width: 50%;
 }

 #passWordBtn{
     font-size: 1.5rem;
     padding: 7px 10px;
     margin-bottom: 0px;
     margin-top: 30px;
 }

 .valideOutputs{
     margin-top: 20px;
     font-size: 1.5rem;
 }
*/
  /* RANDOM PASSWORD GENERATOR USING ALL END*/
  

  #clock-container{
      width: 250px;
      margin-left: auto;
      position: relative;
      backdrop-filter: blur(5px);
      border: 2px dotted hsl(75, 100%, 50%);
      text-align: center;
      border-radius: 10px;
  }
  #clock{
      font-family: monospace;
      font-weight: bold;
      font-size: 1.5rem;
      color: hsl(0, 100%, 90%);
      position: relative;
      right: 5px;
      width: 100%;
      padding: 10px 25px;
  }

  #date-container{
      width: 50%;
      margin-right: auto;
  }
  #dateDisplay{
      font-family: monospace;
      font-weight: bold;
      font-size: 1.0rem;
      backdrop-filter: blur(5px);
      color: hsl(0, 100%, 90%);
      position: relative;
      padding: 10px 25px;
  }




  /* STOP WATCH */

  #myStopWatch{
      text-align: center;
      backdrop-filter: blur(50px);
  }

  #stopwatch-container{
      background-color: hsl(0, 0%, 20%, 0.95);
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;
      height: 300px;
      margin: auto;
      border: 5px groove;
      border-radius: 50px;
  }

  #stopwatch_display{
      font-family: monospace;
      font-size: 2.5rem;
      font-weight: bold;
      position: relative;
      margin-bottom: 50px;
      padding: 10px 15px;
      border: 3px ridge;
      border-radius: 5px;
      color: hsl(0, 0%, 30%);
      background-color: hsl(0, 0%, 58%, 0.55);
      text-shadow: 3px 3px 5px hsl(0, 0%, 70%);
  }

  #stopwatch-controls button{
      margin: 5px;
      color: white;
      transition: background-color 0.5s ease;
      min-width: 60px;
  }

  #start-chrono{
      background-color: hsl(108, 100%, 50%);
  }
   #start-chrono:hover{
      background-color: hsl(108, 100%, 35%);
  }

  #stop-chrono{
      background-color: rgb(250, 0, 0);
  }
  #stop-chrono:hover{
      background-color: rgb(150, 0, 0);
  }

  #reset-chrono{
      background-color: hsl(214, 90%, 60%);
  }
  #reset-chrono:hover{
      background-color: hsl(214, 90%, 45%);
  }





  .containerBox{
      display: flex;
      /* flex-direction: row-reverse; */
      /* flex-direction: column-reverse; */
      /* justify-content: flex-start; */
      /* justify-content: flex-end; */
      /* justify-content: center; */
      /* justify-content: space-between; */
      /* justify-content: space-around; */
      /* justify-content: space-evenly; */
      border: 10px solid black;
      height: 90vh;
      /* flex-wrap: wrap; */
      /* align-items: flex-start; */
      /* align-items: center; */
      /* align-items: flex-end; */
      /* align-items: baseline; */
      /* flex-wrap: no-wrap; */
      /* flex-wrap: wrap-reverse; */
       /* flex-wrap: wrap;  */
       /* align-content: flex-start;  */
      /* column-gap: 1em; */
      /* row-gap: 1em; */ 
      /* align-content: flex-end; */
      /* align-content: center; */
      /* align-content: space-evenly; */
      /* align-content: space-between; */
  }

  .box{
      width: 150px;
      height: 150px;
      font-size: 8em;
      text-align: center;
      border-radius: 15px;
  }

  #box1{
      background-color: hsl(0, 100%, 70%);
      /* align-self: start; */
      align-self: center;
      /* align-self: end; */
  }
  #box2{
      background-color: hsl(52, 100%, 70%);
      align-self: end;
  }
  #box3{
      background-color: hsl(111, 100%, 70%);
      order: -1;
  }
  #box4{
      background-color: hsl(201, 100%, 70%);
  }
 



/* CALCULATOR PROGRAM  START*/

#calculator{
    width: 500px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    margin: auto;
    border-top: 5px ridge hsl(0 86% 75%);
    border-bottom: 5px ridge hsl(0 86% 75%);
    border-right: 5px ridge hsl(214 86% 75%);
    border-left: 5px ridge hsl(214 86% 75%);
}

#display{
    width: 100%;
    font-size: 6rem;
    color: white;
    background-color: hsl(0, 0%, 30%);
    border: none;
    border-radius: 15px;
    position: relative;
}

#keys{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
    position: relative;
}

#keys button{
    font-family: Helvetica, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100px;
    height: 100px;
    color: white;
    background-color: hsl(0, 0%, 50%);
    border: none;
    border-radius: 50px;
}

#keys button:hover{
    background-color: hsl(0, 0%, 60%);
}

#keys button:active{
    background-color: hsl(0, 0%, 70%);
}

#keys .bodmas{
    background-color: hsl(38 100% 50%);
}

#keys .bodmas:hover{
    background-color: hsl(38 100% 60%);
}

#keys .bodmas:active{
    background-color: hsl(38 100% 70%);
}

@media screen and (max-width: 300px;){
    #calculator, #display, #keys{
        width: 100%;
    }
}

/* CALCULATOR PROGRAM  END*/


/* MOVING BOX START */

#theGame{
    background-color: hsl(0, 0%, 50%);
    position: relative;
    height: 90vh;
    width: 90%;
    margin: auto;
    border: 2px ridge black;
    border-radius: 10px;
}

#myBoxMove{
    font-size: 7.5rem;
    background-color: hsl(208, 100%, 70%);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    border-radius: 100px;
}

/* MOVING BOX END */



/* IMAGE SLIDER START */

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: hsl(0, 0%, 0%, 0.5);
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    transform: translateY(-50%);
    background-color: hsl(0, 0%, 0%, 0.2);
    color: hsl(0, 0%, 60%);
    border: none;
    border-radius: 65px 30px;
    margin: 0;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}

@keyframes fade {
    from{opacity: 0.5;}
    to{opacity: 1.0;}
}

/* IMAGE SLIDER END */





#rockGame{
    font-family: Arial, sans-serif;
    fon-weight: bold;
    background-color: hsl(0, 100%, 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 2px groove black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}
.choices{
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.choices button{
    font-size: 6.5rem;
    border-radius: 100px;
    margin: 0 10px;
}
#playerDisplay{
    font-size: 2.5rem;
}
#computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 4.5rem;
    font-weight: bold;
    margin: 10px;
}
.scoreDisplay{
    font-size: 1.5rem;
}
.greenText{
    color: hsl(120, 90%, 63%);
}
.redText{
    color: hsl(0, 90%, 63%);
}
.blueText{
    color: hsl(240, 90%, 69%);
}













 footer{
     font-family: sans, sans-serif;
     background-color: hsl(214, 55%, 20%);
     display: block;
     clear: both;
     position: relative;
     bottom: 0px;
     height: 250px;
 }

 #bottomnav{
     background-color: hsl(214, 55%, 10%);
     display: flex;
     flex-direction: row;
     position: sticky;
     bottom: 0px;
 }






